/* You can add global styles to this file, and also import other style files */
a{
    display: block;
    width: 115px;
    height: 25px;
    background-color: #6a5acd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font: bold;
    margin: 10px;
}